h1 {
  color: #042c13;
  font-family: Monotype Corsiva, cursive;
  font-size: 250%;
  text-align: center;
  margin: 50px;
}

table th, table td {
  border: 1px solid black;
}

table {
   border: 1px solid black;
}
