<h1>{{title}}</h1>

<div class="container">
  <div class="centerContainer">
    <button class="addEmployee" (click)="openAddDialog()">Создать сотрудника</button>
  </div>
  <table>
    <tbody>
    <tr>
      <th>Отдел</th>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Дата устройства на работу</th>
      <th>Должность</th>
      <th>Зарплата</th>
    </tr>
    <tr *ngFor="let employee of paginatedEmployees, let i = index" (click)="setActiveEmployee(i)">
      <td>{{employee.departmentName}}</td>
      <td>{{employee.name + ' ' + employee.secondName + ' ' + employee.lastName}}</td>
      <td>{{employee.dateOfBirth | date: 'mediumDate'}}</td>
      <td>{{employee.dateOfEmployment | date: 'mediumDate'}}</td>
      <td>{{employee.jobTitle}}</td>
      <td>{{employee.salary}}</td>
      <td>
        <button class="buttonUpdate" (click)="openUpdateDialog(i)">Редактировать</button>
        <button class="buttonDelete" (click)="openDeleteDialog(i)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="paginator">
    <button class="previousPage" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Назад</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="nextPage" (click)="goToNextPage()" [disabled]="currentPage === totalPages">Вперед</button>
<!--    <select (change)="goToPage($event.target.value)">-->
<!--      <option *ngFor="let page of pageNumbers" [value]="page">{{ page }}</option>-->
<!--    </select>-->
  </div>
</div>

